
<!Doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://m.baidu.com/static/index/icon/w_icon2.png" type="image/x-icon" />
    <meta name="keywords" content="百度汉语"/>
    <meta name="description" content="百度汉语"/>
    <title>短歌行_诗词_百度汉语</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?010e9ef9290225e88b64ebf20166c8c4";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

            <link rel="stylesheet" href="/static/asset/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/asset/css/poem.css?v=201702241600" />
    
    </head>

<body class="pc module" id="pc--body" data-name="短歌行">
    <div id="search-bar">
        <div class="wrapper">
            <div style="margin-right:300px;position: relative">
    <div class="dict-logo"><a href="/" title="百度汉语"></a></div>
    <div class="search-box module" id="search-box" style="34px;">
        <form name="f" id="form" action="/s" class="fm">
            <span class="bg s_ipt_wr quickdelete-wrap">
                <input id="kw" name="wd" class="s_ipt" placeholder="请输入要查询的词语、成语、诗词" value="短歌行" maxlength="40" autocomplete="off">
                <input name="from" value="poem" type="hidden">
            </span>
            <span class="bg s_btn_wr focus">
                <input type="submit" id="su" value="百度一下" class="bg s_btn">
            </span>
        </form>
        <div class="suggest-div">
            <div class="suggest-content">
            </div>
        </div>
    </div>
</div>

            <div class="wrap-userbar module" id="wrap-userbar">

    <ul class="userbar logout">
    <li class="userbar-item">
        <a href="https://passport.baidu.com/v2/?login&tpl=mn&u=http://hanyu.baidu.com%2Fshici%2Fdetail%3Fpid%3Db4c0e9d2a0fa49d5baac43d3f461a6fb%26from%3Dkg0" id="login_link">登录</a>
    </li>
    <li class="pipe userbar-item">|</li>
    <li><a href="/download" name="tj_cidian" class="userbar-item download-link">手机版</a></li>
    <li class="pipe userbar-item">|</li>
    <li class="userbar-item">
        <a href="http://www.baidu.com" target="_blank">百度首页</a>
    </li>
    </ul>
</div>
        </div>
    </div>

    <!-- 外层包裹 -->
    <div id="body-wrapper">
        <div id="main" class="module">
            <div class="content-panel module" id="content-panel">
                
    <div class="poem-detail-body">
    <!-- 诗名作者 -->
    <div class="poem-detail-item" id="poem-detail-header">
        <h1>短歌行</h1>
        <div class="poem-detail-header-info">
                                                <a class="poem-detail-header-author" href="/s?wd=曹操">
                        <span class="poem-info-gray">【作者】</span>曹操
                    </a>
                                                        <span class="poem-detail-header-author">
                    <span class="poem-info-gray">【朝代】</span>魏晋
                </span>
                                    <div class="body-means-change">
                译文对照
            </div>
                    </div>
        <div class="poem-detail-separator"></div>
                <div class="poem-detail-item-content">
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_1_0" data="means_1_0"><span class='body-zhushi-span' data='"\u4e00\u8fb9\u559d\u7740\u9152\uff0c\u4e00\u8fb9\u5531\u7740\u6b4c\u3002\u5f53\uff0c\u662f\u5bf9\u7740\u7684\u610f\u601d\u3002"'>对酒当歌</span>，</span><span id="body_1_1" data="means_1_1">人生<span class='body-zhushi-span' data='"\u591a\u5c11\u3002"'>几何</span>！</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_1_0" data="body_1_0">面对着美酒高声放歌，</span><span id="means_1_1" data="body_1_1">人生短促日月如梭。</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_2_0" data="means_2_0">譬如朝露，</span><span id="body_2_1" data="means_2_1"><span class='body-zhushi-span' data='"\u8ddf\uff08\u671d\u9732\uff09\u76f8\u6bd4\u4e00\u6837\u75db\u82e6\u5374\u6f2b\u957f\u3002\u6709\u6168\u53f9\u4eba\u751f\u77ed\u6682\u4e4b\u610f\u3002"'>去日苦多</span>。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_2_0" data="body_2_0">好比晨露转瞬即逝，</span><span id="means_2_1" data="body_2_1">失去的时日实在太多！</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_3_0" data="means_3_0"><span class='body-zhushi-span' data='"\u6307\u5bb4\u4f1a\u4e0a\u7684\u6b4c\u58f0\u6fc0\u6602\u6177\u6168\u3002\u5f53\u4ee5\uff0c\u8fd9\u91cc\u201c\u5e94\u5f53\u7528\u201d\u7684\u610f\u601d\u3002\u5168\u53e5\u610f\u601d\u662f\uff0c\u5e94\u5f53\u7528\u6fc0\u6602\u6177\u6168\uff08\u7684\u65b9\u5f0f\u6765\u5531\u6b4c\uff09\u3002"'>慨当以慷</span>，</span><span id="body_3_1" data="means_3_1">忧思难忘。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_3_0" data="body_3_0">席上歌声激昂慷慨，</span><span id="means_3_1" data="body_3_1">忧郁长久填满心窝。</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_4_0" data="means_4_0">何以解忧？</span><span id="body_4_1" data="means_4_1">唯有<span class='body-zhushi-span' data='"\u76f8\u4f20\u662f\u6700\u65e9\u9020\u9152\u7684\u4eba\uff0c\u8fd9\u91cc\u4ee3\u6307\u9152\u3002"'>杜康</span>。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_4_0" data="body_4_0">靠什么来排解忧闷？</span><span id="means_4_1" data="body_4_1">唯有狂饮方可解脱。</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_5_0" data="means_5_0">青青子衿，</span><span id="body_5_1" data="means_5_1">悠悠我心。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_5_0" data="body_5_0">穿青色衣领的学子，</span><span id="means_5_1" data="body_5_1">你们令我朝夕思慕。</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_6_0" data="means_6_0">但为君故，</span><span id="body_6_1" data="means_6_1"><span class='body-zhushi-span' data='"\u539f\u6307\u5c0f\u58f0\u53e8\u5ff5\u548c\u601d\u7d22\uff0c\u8fd9\u91cc\u6307\u5bf9\u8d24\u4eba\u7684\u601d\u5ff5\u548c\u503e\u6155\u3002"'>沉吟</span>至今。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_6_0" data="body_6_0">只是因为您的缘故，</span><span id="means_6_1" data="body_6_1">让我沉痛吟诵至今。</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_7_0" data="means_7_0">呦呦鹿鸣，</span><span id="body_7_1" data="means_7_1">食野之苹。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_7_0" data="body_7_0">阳光下鹿群呦呦欢鸣，</span><span id="means_7_1" data="body_7_1">悠然自得啃食在绿坡。</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_8_0" data="means_8_0">我有嘉宾，</span><span id="body_8_1" data="means_8_1"><span class='body-zhushi-span' data='"\u5f39\u3002"'>鼓</span>瑟吹笙。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_8_0" data="body_8_0">一旦四方贤才光临舍下，</span><span id="means_8_1" data="body_8_1">我将奏瑟吹笙宴请嘉宾。</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_9_0" data="means_9_0">明明如月，</span><span id="body_9_1" data="means_9_1"><span class='body-zhushi-span' data='"\u4ec0\u4e48\u65f6\u5019\u53ef\u4ee5\u6458\u53d6\u5462\uff1f\u6387\uff0c\u62fe\u53d6\uff0c\u6458\u53d6\u3002\u53e6\u89e3\uff1a\u6387\u8bfbchu\u00f2\uff0c\u4e3a\u901a\u5047\u5b57\uff0c\u6387\uff0c\u901a\u201c\u8f8d\u201d \uff0c\u5373\u505c\u6b62\u7684\u610f\u601d\u3002\u4f55\u65f6\u53ef\u6387\uff0c\u610f\u601d\u5c31\u662f\u4ec0\u4e48\u65f6\u5019\u53ef\u4ee5\u505c\u6b62\u5462\uff1f"'>何时可掇</span>？</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_9_0" data="body_9_0">当空悬挂的皓月哟，</span><span id="means_9_1" data="body_9_1">什么时候才可以拾到；</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_10_0" data="means_10_0">忧从中来，</span><span id="body_10_1" data="means_10_1">不可断绝。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_10_0" data="body_10_0">我久蓄于怀的忧愤哟，</span><span id="means_10_1" data="body_10_1">突然喷涌而出汇成长河。</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_11_0" data="means_11_0"><span class='body-zhushi-span' data='"\u7a7f\u8fc7\u7eb5\u6a2a\u4ea4\u9519\u7684\u5c0f\u8def\u3002\u964c\uff0c\u4e1c\u897f\u5411\u7530\u95f4\u5c0f\u8def\u3002\u9621\uff0c\u5357\u5317\u5411\u7684\u5c0f\u8def\u3002"'>越陌度阡</span>，</span><span id="body_11_1" data="means_11_1"><span class='body-zhushi-span' data='"\u5c48\u9a7e\u6765\u8bbf\u3002\u6789\uff0c\u8fd9\u91cc\u662f\u201c\u6789\u9a7e\u201d\u7684\u610f\u601d\uff1b\u7528\uff0c\u4ee5\u3002\u5b58\uff0c\u95ee\u5019\uff0c\u601d\u5ff5\u3002"'>枉用相存</span>。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_11_0" data="body_11_0">远方宾客踏着田间小路，</span><span id="means_11_1" data="body_11_1">一个个屈驾前来探望我。</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_12_0" data="means_12_0">契阔谈，</span><span id="body_12_1" data="means_12_1">心念旧恩。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_12_0" data="body_12_0">久别重逢欢宴畅谈，</span><span id="means_12_1" data="body_12_1">争着将往日的情谊诉说。</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_13_0" data="means_13_0">月明星稀，</span><span id="body_13_1" data="means_13_1">乌鹊南飞。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_13_0" data="body_13_0">月光明亮星光稀疏，</span><span id="means_13_1" data="body_13_1">一群寻巢乌鹊向南飞去。</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_14_0" data="means_14_0">绕树<span class='body-zhushi-span' data='"\u4e09\u5468\u3002\u531d\uff0c\u5468\uff0c\u5708\u3002"'>三匝</span>，</span><span id="body_14_1" data="means_14_1">何枝可依？</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_14_0" data="body_14_0">绕树飞了三周却没敛翅，</span><span id="means_14_1" data="body_14_1">哪里才有它们栖身之所？</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_15_0" data="means_15_0">山不厌高，</span><span id="body_15_1" data="means_15_1"><span class='body-zhushi-span' data='"\u4e00\u672c\u4f5c\u201c\u6c34\u4e0d\u538c\u6df1\u201d\u3002\u8fd9\u91cc\u662f\u501f\u7528\u300a\u7ba1\u5b50\u00b7\u5f62\u89e3\u300b\u4e2d\u7684\u8bdd\uff0c\u539f\u6587\u662f\uff1a\u201c\u6d77\u4e0d\u8f9e\u6c34\uff0c\u6545\u80fd\u6210\u5176\u5927\uff1b\u5c71\u4e0d\u8f9e\u571f\uff0c\u6545\u80fd\u6210\u5176\u9ad8\uff1b\u660e\u4e3b\u4e0d\u538c\u4eba\uff0c\u6545\u80fd\u6210\u5176\u4f17\u2026\u2026\u201d\u610f\u601d\u662f\u8868\u793a\u5e0c\u671b\u5c3d\u53ef\u80fd\u591a\u5730\u63a5\u7eb3\u4eba\u624d\u3002"'>海不厌深</span>。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_15_0" data="body_15_0">高山不辞土石才见巍峨，</span><span id="means_15_1" data="body_15_1">大海不弃涓流才见壮阔。</span>            </p>
                        <p class="poem-detail-main-text" id="body_p">
                <span id="body_16_0" data="means_16_0">周公吐哺，</span><span id="body_16_1" data="means_16_1">天下归心。</span>            </p>
            <p id="means_p" class="poem-detail-main-text body-means-p">
                <span id="means_16_0" data="body_16_0">我愿如周公一般礼贤下士，</span><span id="means_16_1" data="body_16_1">愿天下的英杰真心归顺与我。</span>            </p>
                    </div>
                            <div class="poem-tags-container">
                <div class="poem-tag-type">标签:</div>
                <div class="poem-tags-content">
                    <a href="/s?ptype=poem_tag&about=乐府" class="poem-detail-tag">乐府</a><a href="/s?ptype=poem_tag&about=寓理" class="poem-detail-tag">寓理</a><a href="/s?ptype=poem_tag&about=寓人" class="poem-detail-tag">寓人</a><a href="/s?ptype=poem_tag&about=抒情" class="poem-detail-tag">抒情</a><a href="/s?ptype=poem_tag&about=古诗三百首" class="poem-detail-tag">古诗三百首</a><a href="/s?ptype=poem_tag&about=其他" class="poem-detail-tag">其他</a><a href="/s?ptype=poem_tag&about=情感" class="poem-detail-tag">情感</a>                </div>
            </div>
            </div>

    <div id="means_zhushi_div">
    <!-- 译文 -->
            <div class="poem-detail-item" id="poem-detail-translation">
            <div>
                <a href="javascript:" class="poem-detail-item-title item-multi-title item-multi-title-active"><b>译文</b></a>
                                    <span class="space"></span>
                    <a href="javascript:" class="poem-detail-item-title item-multi-title"><b>注释</b></a>
                            </div>
            <div class="poem-detail-separator"></div>
            <div class="poem-detail-item-content means-fold">一边喝酒一边高歌，人生短促日月如梭。</br>好比晨露转瞬即逝，失去的时日实在太多！</br>席上歌声激昂慷慨，忧郁长久填满心窝。</br>靠什么来排解忧闷？唯有狂饮方可解脱。</br>那穿着青领（周代学士的服装）的学子哟，你们令我朝夕思慕。</br>只是因为您的缘故，让我沉痛吟诵至今。</br>阳光下鹿群呦呦欢鸣，悠然自得啃食在绿坡。</br>一旦四方贤才光临舍下，我将奏瑟吹笙宴请嘉宾。</br>当空悬挂的皓月哟，什么时候才可以拾到；</br>我久蓄于怀的忧愤哟，突然喷涌而出汇成长河。</br>远方宾客踏着田间小路，一个个屈驾前来探望我。</br>彼此久别重逢谈心宴饮，争着将往日的情谊诉说。</br>月光明亮星光稀疏，一群寻巢乌鹊向南飞去。</br>绕树飞了三周却没敛翅，哪里才有它们栖身之所？</br>高山不辞土石才见巍峨，大海不弃涓流才见壮阔。</br>我愿如周公一般礼贤下士，愿天下的英杰真心归顺与我。</div>
            <div class="poem-detail-more fold">
                <a href="javascript:" class="f"><b>︾</b>查看更多</a>
                <a href="javascript:" class="e"><b>︽</b>收起更多</a>
            </div>
        </div>
    
    <!-- 注释 -->
            <div class="poem-detail-item" id="poem-detail-zhushi" style="display: none;">
            <div>
                                    <a href="javascript:" class="poem-detail-item-title item-multi-title"><b>译文</b></a>
                    <span class="space"></span>
                                <a href="javascript:" class="poem-detail-item-title item-multi-title item-multi-title-active"><b>注释</b></a>
            </div>
            <div class="poem-detail-separator"></div>
            <div class="poem-detail-item-content">
                                <p>(1)对酒当歌：一边喝着酒，一边唱着歌。当，是对着的意思。</br>(2)几何：多少。</br>(3)去日苦多：跟（朝露）相比一样痛苦却漫长。有慨叹人生短暂之意。</br>(4)慨当以慷：指宴会上的歌声激昂慷慨。当以，这里“应当用”的意思。全句意思是，应当用激昂慷慨（的方式来唱歌）。</br>(5)杜康：相传是最早造酒的人，这里代指酒。</br>(6)青青子衿（jīn），悠悠我心：出自《经·郑风·子衿》。原写姑娘思念情人，这里用来比喻渴望得到有才学的人。子，对对方的尊称。衿，古式的衣领。青衿，是周代读书人的服装，这里指代有学识的人。悠悠，长久的样子，形容思虑连绵不断。</br>(7)沉吟：原指小声叨念和思索，这里指对贤人的思念和倾慕。</br>(8)呦（yōu）呦鹿鸣，食野之苹。我有嘉宾，鼓瑟吹笙（shēng）：出自《诗经·小雅·鹿鸣》。呦呦：鹿叫的声音。苹：艾蒿。</br>(9)鼓：弹。</br>(10)何时可掇（duō）：什么时候可以摘取呢？掇，拾取，摘取。另解：掇读chuò，为通假字，掇，通“辍” ，即停止的意思。何时可掇，意思就是什么时候可以停止呢？</br>(11)越陌度阡：穿过纵横交错的小路。陌，东西向田间小路。阡，南北向的小路。</br>(12)枉用相存：屈驾来访。枉，这里是“枉驾”的意思；用，以。存，问候，思念。</br>(13)讌（yàn）：通“宴”（原文中讌为“?”）。</br>(14)三匝（zā）：三周。匝，周，圈。</br>(15)海不厌深：一本作“水不厌深”。这里是借用《管子·形解》中的话，原文是：“海不辞水，故能成其大；山不辞土，故能成其高；明主不厌人，故能成其众……”意思是表示希望尽可能多地接纳人才。</p>
                                <a href="http://so.gushiwen.org/view_48003.aspx" target="_blank" data-click='{"act":"a_click_zhushi_more"}' style="display: none;">
                    来源：古诗文网>>
                </a>

                <span style="color: #999;">&nbsp;&nbsp;来源：古诗文网</span>
            </div>
        </div>
        </div>

    <!-- 赏析 -->
            <div class="poem-detail-item" id="poem-detail-shangxi">
            <div>
                <a href="javascript:" class="poem-detail-item-title item-multi-title item-multi-title-active"><b>赏析</b></a>
                                    <span class="space"></span>
                    <a href="javascript:" class="poem-detail-item-title item-multi-title"><b>相关内容</b></a>
                            </div>
            <div class="poem-detail-separator"></div>
                            <div class="poem-detail-item-content">
                                        《短歌行》是汉乐府的旧题，属于《相和歌辞·平调曲》。这就是说它本来是一个乐曲的名称。最初的古辞已经失传。乐府里收集的同名有24首，最早的是曹操的这首。这种乐曲怎么唱法，现在当然是不知道了。但乐府《相和歌·平调曲》中除了《短歌行》还有《长歌行》，唐代吴兢《乐府古题要解》引证古“长歌正激烈”，魏文帝曹丕《燕歌行》“短歌微吟不能长”和晋傅玄《艳歌行》“咄来长歌续短歌”等句，认为“长歌”、“短歌”是指“歌声有长短”。现在也就只能根据这一点点材料来理解《短歌行》的音乐特点。《短歌行》这个乐曲，原来当然也有相应的歌辞，就是“乐府古辞”，但这...
                                            <a href="http://so.gushiwen.org/shangxi_1299.aspx" data-click='{"act":"a_click_shangxi_more"}'>
                            古诗文网>>
                        </a>
                                    </div>
                    </div>
    
    <!-- 相关内容 -->
            <div class="poem-detail-item" id="poem-detail-shangxi-ext" style="display: none;">
            <div>
                                    <a href="javascript:" class="poem-detail-item-title item-multi-title"><b>赏析</b></a>
                    <span class="space"></span>
                                <a href="javascript:" class="poem-detail-item-title item-multi-title item-multi-title-active"><b>相关内容</b></a>
            </div>
            <div class="poem-detail-separator"></div>
                            <div class="poem-detail-item-content">
                    <h2>创作背景</h2><p>作者：佚名</p><p>　　此的写作时期各说不一，归之有两种说法: 一是赤壁之战之前。《三国演义》第四十八回有一段曹操横槊赋诗的描写。曹操平定北方后，率百万雄师，饮马长...
                                            <a href="http://so.gushiwen.org/view_48003.aspx" data-click='{"act":"a_click_shangxi_ext_more"}'>
                            古诗文网>>
                        </a>
                                    </div>
                    </div>
    
    <!-- 作者介绍 -->
            <div class="poem-detail-item" id="poem-detail-author">
            <div class="poem-detail-item-title"><b>作者介绍</b></div>
            <div class="poem-detail-separator"></div>
            <div class="poem-detail-item-content">
                <div class="poem-author-container">
                                            <img class="poem-author-img" src="http://t10.baidu.com/it/u=3117302340,3918813450&fm=58">
                                        <div class="poem-author-intro" data-ellipsis="true" data-ellipsis-max-line="5">
                        <span data-ellipsis-container="true">曹操（155年－220年3月15日），字孟德，一名吉利，小字阿瞒，沛国谯（今安徽亳州）人，汉族。东汉末年杰出的政治家、军事家、文学家、书法家。三国中曹魏政权的缔造者，以汉天子的名义征讨四方，对内消灭二袁、吕布、刘表、韩遂等割据势力，对外降服南匈奴、乌桓、鲜卑等，统一了中国北方，并实行一系列政策恢复经济生产和社会秩序，奠定了曹魏立国的基础。曹操在世时，担任东汉丞相，后为魏王，去世后谥号为武王。其子曹丕称帝后，追尊为武皇帝，庙号太祖。曹操精兵法，善诗歌，抒发自己的政治抱负，并反映汉末人民的苦难生活，气魄雄伟，慷慨悲凉；散文亦清峻整洁，开启并繁荣了建安文学，给后人留下了宝贵的精神财富，史称建安风骨，鲁迅评价其为“改造文章的祖师”。同时曹操也擅长书法，尤工章草，唐朝张怀瓘在《书断》中评其为“妙品”。</span>
                        <a href="http://baike.baidu.com/view/1719.htm#sub5594282">百科详情>></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

                <div id="right-panel" class="right module">
                    <div class="recmd-panel module" id="recmd-panel">
                                                    


    <div class="recmd-wrapper">
        <h1>热门推荐</h1>
        <ul class="recmd-list">
                            <li class="recmd-item">
                    <a href="/shici/detail?pid=5bb2a244a97b44d8840fec723cefe6e4">
                        <span class="recmd-item-content">沁园春·雪</span>
                        <span class="recmd-item-desc-right">毛泽东（近代）</span>
                    </a>
                    <div class="recmd-item-separator"></div>
                </li>
                            <li class="recmd-item">
                    <a href="/shici/detail?pid=6886022ee129497db52433c382ae5587">
                        <span class="recmd-item-content">泊船瓜洲</span>
                        <span class="recmd-item-desc-right">王安石（宋）</span>
                    </a>
                    <div class="recmd-item-separator"></div>
                </li>
                            <li class="recmd-item">
                    <a href="/shici/detail?pid=056dd01315144a5da11b7481c85ffa04">
                        <span class="recmd-item-content">木兰诗 / 木兰辞</span>
                        <span class="recmd-item-desc-right">佚名（南北朝）</span>
                    </a>
                    <div class="recmd-item-separator"></div>
                </li>
                            <li class="recmd-item">
                    <a href="/shici/detail?pid=286780af606840b19f77a549105dacf4">
                        <span class="recmd-item-content">卜算子·咏梅</span>
                        <span class="recmd-item-desc-right">毛泽东（近代）</span>
                    </a>
                    <div class="recmd-item-separator"></div>
                </li>
                            <li class="recmd-item">
                    <a href="/shici/detail?pid=9215f1d72e2f48a8b8bbf0a5907ed885">
                        <span class="recmd-item-content">咏柳</span>
                        <span class="recmd-item-desc-right">贺知章（唐）</span>
                    </a>
                    <div class="recmd-item-separator"></div>
                </li>
                    </ul>
    </div>

                                            </div>
                </div>
            </div>
        </div>
    </div>

    <p id="copyright">© Baidu
        <a href="http://www.baidu.com/duty/">使用百度前必读</a>
        <a href="http://www.baidu.com">百度首页</a>
        <a href="/shici/s" style="display:none">站内搜索</a>
        <a href="http://help.baidu.com/add?prod_id=8#1">问题反馈</a>
        <a href="http://weibo.com/5789783834/manage">关注微博</a>
        <span href="#">用户QQ群：484758177</span>
    </p>

    <div id="fmp_flash_div" style="display:none"><audio id="audio"></audio></div>

    <script src="/static/asset/dep/jquery/jquery-3.1.0.min.js"></script>
    <script src="/static/asset/dep/esl/esl.min.js"></script>

    <script>
                require.config(
                {
                    baseUrl: '/static/asset/asset',
                    urlArgs: 'v=201702241600',
                    packages: [
                        {
                            'name': 'etpl',
                            'location': '/static/asset/dep/etpl',
                            'main': 'main'
                        }
                    ]
                }
            );
        require(['sug_pc'], function(sug_pc){
        sug_pc.init();
    });
    </script>


    
    <script type="text/javascript">
        var pageData = {
        };
        require(['poem_detail_pc'], function(main) {
            main.init();
        });
    </script>


</body>
</html>
